*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  background-color: #0d192c;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
main {
  text-align: center;
  padding: 24px;
  background-color: #15263f;
  width: 350px;
  height: 596px;
  border-radius: 15px;
  margin: 30px auto;
  /* justify-content: center; */
}
#main {
  width: 302px;
  height: 302px;
  border-radius: 8px;
}
h1 {
  color: #ffffff;
  font-size: 22px;
  text-align: left;
  margin-top: 24px;
  margin-left: 2px;
  margin-right: 24px;
  font-family: arial, sans-serif;

  margin-bottom: 1px;
}
p {
  color: #8bacd9;
  font-size: 18px;
  text-align: left;
  margin-top: 30px;
  margin-left: 2px;
  margin-right: 24px;
  font-family: arial, sans-serif;

  margin-bottom: 25px;
}
#line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 7px;
}
#line div {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 7px;
}
h2 {
  color: #00fff8;
  display: inline;
  font-size: 16px;

  font-family: arial, sans-serif;
}

h3 {
  color: #8bacd9;
  display: inline;

  font-family: arial, sans-serif;
}

#text {
  width: 81px;
  height: 20px;
  color: #8bacd9;
  size: 16px;
  margin-top: 10px;
  margin-left: 1px;
  margin-right: 1px;
  margin-bottom: 3px;

  font-family: ;
}
span {
  color: #ffffff;
  size: 16px;
  margin-left: 1px;
  margin-right: 1px;
  margin-top: 10px;
  margin-bottom: 3px;

  font-family: arial, sans-serif;
}

#row {
  display: flex;
  margin-left: 2px;
  margin-right: 15px;
  margin-top: 55px;
  margin-bottom: 1px;
  border-top: 1px solid #2e405a;
}

#row img {
  width: 33px;
  height: 33px;
}
